/* external-styles.css */

  

  
  .home-button {
    height: 10%;
    width:20%;
    padding: 10px;
    cursor: pointer;
    background: #000000;
    color: white;
    padding: 10px;
    margin: 0 auto; /* Center horizontally */
    display: flex;
    align-items: center;
    justify-content: center; /* Center vertically and horizontally */
    text-align: center;
}

  
 .marval {
  margin-top: 20px;
 }
  
  .title {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .title h3 {
    margin:10px;
    font-size: 1.5rem;
    padding-bottom: 10px;
    text-align: center;
  }
  
  .checkout {
    width: 100%;
  }
  
  .checkout h2 {
    font-size: 2rem;
    text-align: center;
  }
  
  .amount-info {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .amount-info p {
    font-size: 1.2rem;
  }
  
  .amount-info .amount {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .payment-options {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .payment-options h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .payment-method {
    display: inline-block;
    margin-left: 20px;
  }
  
  .pay-button {
    height: 10%;
    width:10%;
    padding: 10px;
    background: #6be24a;
    color: white;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    display: block;
    text-align: center; 
    margin: 0 auto;
  }
  