/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* .ff {
    flex: 0.8; 
    padding: 40px; 
  } */

  .contain{
    display: flex;
    justify-content:center;
    
  }
  

  .gif-container {
    flex: 1; /* Expand to take available space */
    display: flex;
    justify-content: flex-end; /* Align the image to the right side */
    align-items: center; /* Center the image vertically */
    position: relative; /* Add relative positioning to allow for z-index */
  }
  
  .gif {
    width: 45%; /* Limit the width of the GIF */
    height: 35%; /* Maintain aspect ratio */
    position: relative; /* Add relative positioning to allow for z-index */
    z-index: -1; /* Move the image to the back of the container */
  }

  
  label {
    display: block; 
    margin: 4px;
    font-weight: bold; 
    text-align: left;
  }
  
  input,
  select {
    width: 100%; 
    padding: 8px; 
    margin-top: 2px;
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
  }

  p {
    font-size: 23px; /* Adjust the font size as needed */
    color: #a73232; /* Text color */
    text-align: center; /* Center the text */
    margin: 10px 0; /* Add margin for spacing */
  }
   
  /* Style the "Calculate Premium" button */
  .cal1 {
    background-color: rgb(0, 0, 0); /* Blue color for Calculate Premium button */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding for button size */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Add cursor pointer on hover */
    width: auto;
  }
  
  /* Style the "Add to Cart" button */
  .cal2 {
    background-color: rgb(154, 4, 82); 
    margin: 10px;
    color: white; /* White text color */
    padding: 10px 20px; /* Padding for button size */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Add cursor pointer on hover */
    width: auto;
  }
  
  /* Style the heading */
  h1 {
    text-align: center;
    margin: 16px 0;
    font-size: 4rem;
    color: #007BFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* Style the Premium display */
  div.Premium {
    text-align: justify; /* Center the Premium display */
    font-weight: bold; /* Make the Premium text bold */
  }
  


  
  